---
import { Image } from "astro:assets";
import logo from "../../../public/assets/shared/desktop/logo.svg";
import Text from "../atoms/Text.astro";
import { colors } from "../../design-system/colors";
import facebook from "../../../public/assets/shared/desktop/icon-facebook.svg";
import twitter from "../../../public/assets/shared/desktop/icon-twitter.svg";
import instagram from "../../../public/assets/shared/desktop/icon-instagram.svg";
---

<footer class="footer">
  <nav
    class="container flex flex-col lg:flex-row items-center lg:justify-between gap-8"
  >
    <Image src={logo} alt="logo" />

    <div
      class="flex nav-links gap-8 lg:gap-12 flex-col lg:flex-row items-center lg:items-start mt-4 mb-4 lg:mt-0 lg:mb-0"
    >
      <a href="/"><Text type="subTitle">Inicio</Text></a>
      <a href="/headphones"><Text type="subTitle">Diademas y Cascos</Text></a>
      <a href="/speakers"><Text type="subTitle">Bocinas</Text></a>
      <a href="/earphones"><Text type="subTitle">Auriculares</Text></a>
    </div>
  </nav>

  <div class="container flex flex-col lg:flex-row lg:justify-between">
    <div class="w-full lg:w-[540px] flex flex-col gap-16">
      <Text
        type="body"
        className="text-center lg:text-left"
        color={colors.dimWhite}
      >
        Audiophile es una empresa que se dedica a ofrecer productos de calidad
        y precio a los clientes. Con nuestra experiencia en el mercado de
        audio, hemos diseñado productos de alta calidad y precio para que los
        clientes puedan disfrutar de una experiencia musical natural y vida
        real.
      </Text>
      <Text
        type="body"
        className="text-center lg:text-left"
        color={colors.dimWhite}
      >
        Copyright 2024.
      </Text>
    </div>
    <div
      class="w-full flex flex-col items-center lg:items-end gap-6 social-icons justify-center mt-8 lg:mt-0"
    >
      <div class="flex gap-6">
        <Image src={facebook} alt="facebook-icon" />
        <Image src={twitter} alt="twitter-icon" />
        <Image src={instagram} alt="instagram-icon" />
      </div>
      <div>
        <Text textAlign="center">
          Construido en Astro con ❤️ por
          <a
            class="text-white"
            href="https://github.com/MaximoCrz056"
            >Maximo Gomez Cruz</a>
        </Text>
      </div>
    </div>
  </div>
</footer>

<style>
  .footer {
    background-color: var(--night);
    padding: 36px 0;
    color: white;
  }
  .footer > nav {
    padding-top: 24px;
    padding-bottom: 24px;
    text-transform: uppercase;
  }
</style>
